* {
  box-sizing: border-box;
}

#form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 30%;
}

#textarea {
  margin-bottom: 10px;
}

#button {
  margin-top: 20px;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
}

card {
  background-color: rgb(66, 11, 121);
  color: aliceblue;
  padding: 10px;
  margin: 10px;
}
